<footer >
	<div class="container">
		<div class="row">
				<div class="col-md-4 mt-5">
						<form>
				  <div class="form-row">
					<div class="form-group col-md-6">
					  <p class="heado"for="inputEmail4">Email</p>
					  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
					</div>

				  </div>




				  <button type="submit" class="btn lasto">Subscribe</button>
				</form>
					  </div>
			<div class="col-lg-4 col-sm-12 mt-5 mb-5">
				<h3 class="text-white heado">About Us</h3>
				<p class="text-white">Here you can find a workspace to transfer your knowledge to others</p>
				<p class="text-white">Here you can host courses to transfer your knowledge to others</p>
				<p class="text-white">Here you can find a suitable course to improve the skill you desire</p>

			</div><!-- column1-left -->

			<div class="col-lg-4 col-sm-12 mt-5 mb-5 lefto">
				<h3 class="text-white heado">Contact Us</h3>
					<p>
						<i class="fab fa-facebook-f">
							<a href="index.html" class="ml-4">Facebook</a>
						</i>
					</p>
					<i class="fab fa-google-plus-g">
						<a href="index.html" class="ml-4 text-winfo">Google+</a>
					</i>
			</div><!-- column1-right -->
		</div><!-- row -->
	</div><!-- container -->
</footer>
