footer{
    background-color: #1D5875;
    color:white;
    .heado{
        font-size:20px;
      }
      .lefto{
        padding-left: 200px;
      }
    a{
    color:white;
    font-family:"roboto";
}
i{
    color:white;
}
.lasto{
    background-color: #008CBA;
    border-radius: 0%;
    color:white;
}
}
