<div class="container">
	<div class="row mt-5 m-0" >
		<div class="col-lg-4 mb-5" *ngFor="let instruct of instjson">
			  <div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="{{instruct.imgUrl}}" alt="Card image cap">
			   <div class="card-body">
				<h5 class="card-title ">Name:{{instruct.Name}}</h5>
				<p><b>firstName:</b> {{instruct.firstName}}</p>
				<p><b>lastName: </b> {{instruct.lastName}}</p>
				<p><b>userDob: </b>{{instruct.userDob}}</p>
				<p><b>email: </b>{{instruct.email}}</p>
				<p><b>gender:</b> {{instruct.gender}}</p>
				<a class="card-text btn btn-primary" (click)="onload(instruct.userId)">See Courses</a>
			  </div><!-- card-body -->
			</div><!-- card -->
		</div><!-- column -->
	</div><!-- row -->
</div><!-- container -->